<li class="vendor-paymentpo" rel="{{id}}">
	<input type="hidden" class="remit_address_id" value="{{remit_address_id}}">
	<span class="vendor-paymentpo-po text-center">{{purchase_number}}{{^purchase_number}}&nbsp;{{/purchase_number}}</span>
	<span class="vendor-paymentpo-invoice text-center"><input type="text" name="purchase-invoice_number-{{id}}" rel="{{invoice_number}}" value="{{invoice_number}}" readonly="readonly"></span>
	<span class="vendor-paymentpo-date_billed text-center"><input type="text" name="purchase-date_billed-{{id}}" rel="{{date_billed}}" value="{{date_billed}}" readonly="readonly"></span>
	<span class="vendor-paymentpo-numeric balance text-right" rel="{{balance_flipped}}">{{balance_flipped_formatted}}</span>
	<span class="vendor-paymentpo-numeric amount text-center"><input type="text" name="purchase-amount-{{id}}" value="0.00" readonly="readonly"></span>
	<span class="vendor-paymentpo-balancewriteoff text-left">
		<div class="checkbox manual disabled"><input type="checkbox" disabled="disabled" name="purchase-balance-writeoff-{{id}}" value="0.00"></div> Write-Off
	</span>
	<span class="vendor-paymentpo-numeric balancenew text-right">{{balance_flipped_formatted}}</span>
	<span class="vendor-paymentpo-add text-right">
		<div class="checkbox"><input type="checkbox" value="purchase-key" name="{{id}}"></div> Add
	</span>
</li>