{{{tableopen}}}
	<tr>
		<td style="vertical-align: top; padding-left: 5px; width: 35%; {{fontsizenormal}} text-align: left; min-height: 80px; padding-bottom: 10px;">
			<span style="font-size:15px; line-height:15px;  font-weight: bold;">&nbsp;</span><br>
			{{#vendor}}
				Remit To: {{name}}<br>
				{{#address}}
					{{address1}} {{address2}}<br>
					{{city}}, {{state}} {{zip}}<br>
				{{/address}}
				{{phone}} | {{email}}
			{{/vendor}}
		</td>
		<td style="vertical-align: top; padding-left: 5px; width: 35%; {{fontsizenormal}} text-align: left; min-height: 80px; padding-bottom: 10px;">
			&nbsp;
		</td>
		<td style="vertical-align: top; padding-right: 5px; width: 30%; {{fontsizenormal}} text-align: right; min-height: 50px; padding-bottom: 10px;">
			<span style="{{fontsizelarge}} font-weight: bold;">Payment Report</span><br>
			<span style="float: left; width: 85px; text-align: right;">Date</span> {{payment_date_formatted}}<br>
			<span style="float: left; width: 85px; text-align: right;">Check Number</span> {{check_number}}<br>
			<span style="float: left; width: 85px; text-align: right;">Total Paid</span> {{total_formatted}}<br>
		</td>
	</tr>
	<tr>
		<td style="width:100%; border: 1px solid {{borderdarkgreen}}; height: 0px; line-height: 0px; font-size: 0px;" colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td style="width:100%; padding-top: 3px;  height: 0px; line-height: 0px; font-size: 0px;" colspan="3">&nbsp;</td>
	</tr>
{{{tableclose}}}
{{{tableopen}}}
	<tr>
		<td style="padding-top: 4px; padding-bottom: 4px; width: 20%; {{fontsizenormal}} font-weight: bold; text-align: left; min-height: 24px; padding-left: 5px;">PO Number</td>
		<td style="padding-top: 4px; padding-bottom: 4px; width: 16%; {{fontsizenormal}} font-weight: bold; text-align: center; min-height: 24px;">Order Date</td>
		<td style="padding-top: 4px; padding-bottom: 4px; width: 16%; {{fontsizenormal}} font-weight: bold; text-align: center; min-height: 24px;">SO Num</td>
		<td style="padding-top: 4px; padding-bottom: 4px; width: 16%; {{fontsizenormal}} font-weight: bold; text-align: center; min-height: 24px;">Invoice Num</td>
		<td style="padding-top: 4px; padding-bottom: 4px; width: 16%; {{fontsizenormal}} font-weight: bold; text-align: center; min-height: 24px;">Invoice Date</td>
		<td style="padding-top: 4px; padding-bottom: 4px; width: 16%; {{fontsizenormal}} font-weight: bold; text-align: center; min-height: 24px;">Amount Paid</td>
	</tr>
	{{#payment_lines}}
		<tr>
			<td style="padding-top: 4px; padding-bottom: 4px; width: 20%; {{#odd}}background: {{backgroundlightgreen}}; -webkit-print-color-adjust:exact;{{/odd}} {{fontsizenormal}} text-align: left; min-height: 24px; padding-left: 5px;">{{po_number}}</td>
			<td style="padding-top: 4px; padding-bottom: 4px; width: 16%; {{#odd}}background: {{backgroundlightgreen}}; -webkit-print-color-adjust:exact;{{/odd}} {{fontsizenormal}} text-align: center; min-height: 24px; border-left: 1px solid {{borderdarkgreen}};">{{po_date}}</td>
			<td style="padding-top: 4px; padding-bottom: 4px; width: 16%; {{#odd}}background: {{backgroundlightgreen}}; -webkit-print-color-adjust:exact;{{/odd}} {{fontsizenormal}} text-align: center; min-height: 24px; border-left: 1px solid {{borderdarkgreen}};">{{so_number}}</td>
			<td style="padding-top: 4px; padding-bottom: 4px; width: 16%; {{#odd}}background: {{backgroundlightgreen}}; -webkit-print-color-adjust:exact;{{/odd}} {{fontsizenormal}} text-align: center; min-height: 24px; border-left: 1px solid {{borderdarkgreen}};">{{invoice_number}}</td>
			<td style="padding-top: 4px; padding-bottom: 4px; width: 16%; {{#odd}}background: {{backgroundlightgreen}}; -webkit-print-color-adjust:exact;{{/odd}} {{fontsizenormal}} text-align: center; min-height: 24px; border-left: 1px solid {{borderdarkgreen}};">{{invoice_date}}</td>
			<td style="padding-top: 4px; padding-bottom: 4px; width: 16%; {{#odd}}background: {{backgroundlightgreen}}; -webkit-print-color-adjust:exact;{{/odd}} {{fontsizenormal}} text-align: right; padding-right: 5px; min-height: 24px; border-left: 1px solid {{borderdarkgreen}};">{{amount_formatted}}</td>
		</tr>
	{{/payment_lines}}
{{{tableclose}}}
{{{tableopen}}}
	<tr>
		<td style="width:100%; padding-top: 10px;  height: 0px; line-height: 0px; font-size: 0px;">&nbsp;</td>
	</tr>
	<tr>
		<td style="vertical-align: top; padding-top: 4px; padding-bottom: 4px; padding-right: 5px; width: 100%; {{fontsizenormal}} font-weight: bold; text-align: right; background: {{backgroundlightgreen}}; -webkit-print-color-adjust:exact; border: 1px solid {{borderdarkgreen}};">Total {{total_formatted}}</td>
	</tr>
{{{tableclose}}}
