<style>
    .left {
        text-align: left;
    }
    .center {
        text-align: center;
    }
    .right {
        text-align: right;
    }

    table tr th.line-item:first-child {
        padding-left: 5px;
    }
    table tr th.line-item {
        vertical-align: top;
        padding-top: 4px;
        padding-bottom: 4px;
        font-weight: bold;
        min-height: 24px;
        {{fontsizenormal}}
    }


    table tr td {
        vertical-align: top;
    }
    table tr td.line-item:first-child {
        padding-left: 5px;
        border-left: 0px none;
    }
    table tr td.line-item {
        padding-top: 4px;
        padding-bottom: 4px;
        {{fontsizenormal}};
        border-left: 1px solid {{borderdarkgreen}};
    }
    table tr td.line-item:last-child {
        padding-right: 5px;
    }
    table tr td.line-item.odd {
        background: {{backgroundlightgreen}};
        -webkit-print-color-adjust:exact;
    }


    table tr.totals td:first-child {
        padding-left: 5px;
        border-left-width: 1px;
    }
    table tr.totals td {
        font-weight: bold;
        padding-top: 4px;
        padding-bottom: 4px;
        background: {{backgroundlightgreen}};
        -webkit-print-color-adjust:exact;
        border-color: {{borderdarkgreen}};
        border-style: solid;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 0px;
        border-right-width: 0px;
        {{fontsizenormal}}
    }
    table tr.totals td:last-child {
        padding-right: 5px;
        text-align: right;
        border-right-width: 1px;
    }
</style>

<!-- The page header, containing logo, addresses, and overview -->
{{{tableopen}}}
	<tr>
		<td style="padding-left: 5px; width: 36%; {{fontsizenormal}} text-align: left; min-height: 80px; padding-bottom: 10px;">
			{{#billing}}
				Bill To: {{company_name}}<br>
				{{first_name}} {{last_name}}<br>
				{{address1}} {{address2}}<br>
				{{city}}, {{state}} {{zip}}<br>
				{{phone}} {{#phone}}{{#email}}|{{/email}}{{/phone}} {{email}}
			{{/billing}}
			{{^billing}}
				Bill To: {{customer_company_name}}<br>
				{{customer_name}}
			{{/billing}}
		</td>
		<td style="padding-left: 5px; width: 36%; {{fontsizenormal}} text-align: left; min-height: 80px; padding-bottom: 10px;">
			{{#shipping}}
				Ship To: {{company_name}}<br>
				{{first_name}} {{last_name}}<br>
				{{address1}} {{address2}}<br>
				{{city}}, {{state}} {{zip}}<br>
				{{phone}} {{#phone}}{{#email}}|{{/email}}{{/phone}} {{email}}
			{{/shipping}}
			{{^shipping}}
				Ship To: {{customer_company_name}}<br>
				{{customer_name}}
			{{/shipping}}
		</td>
		<td style="padding-right: 5px; width: 28%; {{fontsizenormal}} text-align: right; min-height: 50px; padding-bottom: 10px;">
			<span style="{{fontsizelarge}} font-weight: bold;">{{sale_title}}</span><br>
			{{^invoiced}}
				<span style="float: left; width: 75px; text-align: right;">Sale Date</span> {{sale_date_formatted}}<br>
				<span style="float: left; width: 75px; text-align; right;">Total</span> {{sale_total_formatted}}<br>
			{{/invoiced}}
			{{#invoiced}}
				<span style="float: left; width: 75px; text-align: right;">Invoice Date</span> {{sale_date_billed_formatted}}<br>
				<!--<span style="float: left; width: 75px; text-align: right;">Amount Due</span> {{sale_total_formatted}}<br>-->
				<span style="float: left; width: 75px; text-align: right;">Amount Due</span> {{sale_total_balance_formatted}}<br>
				<span style="float: left; width: 75px; text-align: right;">Payment Due</span> {{sale_date_due_formatted}}<br>
			{{/invoiced}}
			{{#order_number}}<span style="float: left; width: 75px; text-align: right;">Order Num</span> {{order_number}}<br>{{/order_number}}
			{{#po_number}}<span style="float: left; width: 75px; text-align: right;">PO Num</span> {{po_number}}<br>{{/po_number}}
		</td>
	</tr>
	<tr>
		<td style="width:100%; border: 1px solid {{borderdarkgreen}}; height: 0px; line-height: 0px; font-size: 0px;" colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td style="width:100%; padding-top: 3px;  height: 0px; line-height: 0px; font-size: 0px;" colspan="3">&nbsp;</td>
	</tr>
{{{tableclose}}}

<!-- Line Items on this invoice -->
{{{tableopen}}}
	<tr>
		<th class="line-item left" style=" width: 59%;">Description</th>
		<th class="line-item center" style="width: 9%;">QTY</th>
		<th class="line-item center" style="width: 10%;">Price</th>
		<th class="line-item center" style="width: 10%;">Tax</th>
		<th class="line-item center" style="width: 12%;">Total</th>
	</tr>
	{{#sale_lines}}
		<tr>
			<td class="line-item {{#odd}}odd{{/odd}} left" style=" width: 59%;">{{description}}</td>
			<td class="line-item {{#odd}}odd{{/odd}} center" style=" width: 9%;">{{qty_formatted}}</td>
			<td class="line-item {{#odd}}odd{{/odd}} center" style=" width: 10%;">{{price_formatted}}</td>
			<td class="line-item {{#odd}}odd{{/odd}} center" style=" width: 10%;">{{tax_formatted}}</td>
			<td class="line-item {{#odd}}odd{{/odd}} center" style=" width: 12%;">{{total_formatted}}</td>
		</tr>
	{{/sale_lines}}
{{{tableclose}}}

<!-- Sub totals of the entire invoice -->
{{{tableopen}}}
	<tr>
		<td style="width:100%; padding-top: 15px;  height: 0px; line-height: 0px; font-size: 0px;" colspan="3">&nbsp;</td>
	</tr>
	<tr class="totals">
		<td width="33%">Subtotal: {{subtotal_formatted}}</td>
		<td width="33%">
			{{#sale_taxes}}
				{{name}} {{total_formatted}}<br>
			{{/sale_taxes}}
			{{^sale_taxes}}
				&nbsp;
			{{/sale_taxes}}
		</td>
		<td>Total: {{total_formatted}}</td>
	</tr>
    <tr>
        <td style="width:100%; padding-top: 15px;  height: 0px; line-height: 0px; font-size: 0px;" colspan="3">&nbsp;</td>
    </tr>
    {{#has_payments}}
        <tr>
            <td style="width:100%; border: 1px solid {{borderdarkgreen}}; height: 0px; line-height: 0px; font-size: 0px;" colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td style="width:100%; padding-top: 15px;  height: 0px; line-height: 0px; font-size: 0px;" colspan="3">&nbsp;</td>
        </tr>
    {{/has_payments}}
{{{tableclose}}}

<!-- The payments made to this order, (only displayed if there is at least one payment made on this invoice) -->
{{#has_payments}}
    {{{tableopen}}}
        <tr>
            <th class="line-item left" width="33%">Payments</th>
            <th class="line-item center" width="33%">Type / Reference</th>
            <th class="line-item right">Amount</th>
        </tr>
        {{^payment_lines}}
            <tr>
                <td colspan="3">
                    No Payments Made!
                </td>
            </tr>
        {{/payment_lines}}
        {{#payment_lines}}
        <tr>
            <td class="line-item {{#odd}}odd{{/odd}} left">{{date_formatted}}</td>
            <td class="line-item {{#odd}}odd{{/odd}} center">{{type}} {{#reference}}#{{reference}}{{/reference}}</td>
            <td class="line-item {{#odd}}odd{{/odd}} right">{{price_formatted}}</td>
        </tr>
        {{/payment_lines}}
    {{{tableclose}}}

    {{{tableopen}}}
        <tr>
            <td style="width:100%; padding-top: 15px;  height: 0px; line-height: 0px; font-size: 0px;" colspan="2">&nbsp;</td>
        </tr>
        <tr class="totals">
            <td width="50%">
                Invoice Total: {{total_formatted}}
            </td>
            <td>
                Amount Due: {{sale_total_balance_formatted}}
            </td>
        </tr>
    {{{tableclose}}}
{{/has_payments}}