<br><br>
{{{tableopen}}}
	<tr>
		<td style="vertical-align: top; padding-left: 5px; {{fontsizenormal}}; border: 1px solid #589b5c; text-align: center; min-height: 80px; padding-bottom: 10px;">
			<br>
			<h1 style="color: #414141;">BeansBooks Password Reset</h1>
			<br>
			<span style="font-size: 16px;">To reset your password, please <a style="color: #1d6521;" href="{{domain}}/auth/reset/{{resetkey}}">click here</a>.<br></span>
			<br><br>
			<span style="{{fontsizenormal}}">Please note - this link will expire in approxmiately 10 minutes.</span>
			<br><br>
		</td>
	</tr>
{{{tableclose}}}