{{>help_navigation}}

<a name="overview"></a>
<div class="text-center text-bold text-medium bump-down-most">Accounts</div>
<div class="text-left text-medium bump-down">
	Within Accounts to you can view and modify your Chart of Accounts, view account 
	journals, import transactions, add and edit transactions and reconcile your 
	statements. The Chart of Accounts is used to organize the finances of your business.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/accounts_overview.png">
</div>
<hr>


<a name="system"></a>
<div class="text-center text-bold text-medium bump-down-most">BeansBooks System Accounts</div>
<div class="text-left text-medium bump-down">
	BeansBooks system accounts are used to track the balances of Sales Orders and 
	Purchase Orders. By tracking these balances, the Cash Position Report on the 
	Dash can help you view expected - and currently unrealized - cost and revenue 
	and therefore plan your businesses cash flow accordingly. The balances in the 
	accounts are automatically created and adjusted as you create SO's and PO's 
	and convert them to invoices.
</div>
<div class="text-left text-medium bump-down-more">
	The accounts include:
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/accounts_system.png">
</div>
<div class="text-left text-medium bump-down-most">
	Deferred Income and Deferred Tax accounts are located under 
	<font class="text-bold">Liabilities > Short Term Debt</font>. Deferred income 
	is money that your company has received before delivering a product or service. 
	It is a liability because you may need to return those funds if the product or 
	service is not delivered. Deferred Tax works in the same way. It's sales tax 
	that have been collected before the product is delivered. The accounts balances 
	are created and adjusted automatically.
</div>
<hr>


<a name="manage"></a>
<div class="text-center text-bold text-medium bump-down-most">Create, Edit and Delete Accounts</div>
<div class="text-left text-medium bump-down">
	BeansBooks uses seven top level accounts to help organize your Chart of Accounts. 
	Top level accounts do not contain transactions and they are not editable. The 
	top level accounts are Assets, Liabilities,  Income, Cost of Goods Sold, Expenses, 
	Equity and BeansBooks Tracking Accounts.
</div>
<div class="text-left text-medium bump-down-more">
	Each account you create is a sub account of either a top level account or others 
	beneath them. To create a new account click "New Sub Account". Click "Edit" to 
	modify an exiting account.
</div>
<div class="text-center bump-down">
	<img src="/static/images/help/accounts_manage.png">
</div>
<div class="text-left text-medium bump-down-most">
	Clicking Delete will remove an account. If there are transactions in the account 
	you will be asked to specify where those transactions should be transferred prior 
	to deleting the account.
</div>
<hr>


<a name="transactions"></a>
<div class="text-center text-bold text-medium bump-down-most">Add and Edit Transactions</div>
<div class="text-left text-medium bump-down">
	To add or edit transactions in an account journal, first click on the account 
	name to open the journal. Clicking Add Transaction will slide in a new journal 
	entry. Click Save when you're finished entering the transaction information.
</div>
<div class="text-left text-medium bump-down-more">
	The icon to the left of a journal entry is its edit button. Transactions that were 
	imported or added manually to the journal can be edited in the journal. Transactions 
	added by a form - for example an Invoice or Expense - must be edited on the form. 
	A form icon represents entries that must be edited by a form. A pencil icon represents 
	entries that can be edited in the journal.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/accounts_transactions.png">
</div>
<hr>


<a name="import"></a>
<div class="text-center text-bold text-medium bump-down-most">Import Transactions</div>
<div class="text-left text-medium bump-down">
	BeansBooks makes importing your bank transactions easy.
</div>
<div class="text-left text-medium bump-down-more pad-right-most">
	1.) Download either a Quickbooks or CSV file from your bank<br>
	2.) Open the appropriate account from your Chart of Accounts - Checking Account for example<br>
	3.) Click "Import Transactions"<br>
	4.) Choose the file to import and click "Upload"<br>
	5.) BeansBooks will automatically recognize duplicate transactions and will automatically categorize common transactions<br>
	6.) Click "Save Transactions"<br>
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/accounts_import.png">
</div>
<hr>


<a name="reconcile"></a>
<div class="text-center text-bold text-medium bump-down-most">Reconciling Accounts</div>
<div class="text-left text-medium bump-down">
	Click "Reconcile Account" to start. Enter your statement date along with the Starting 
	Balance and Ending Balance and click "Start".
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/accounts_reconcile1.png">
</div>
<div class="text-left text-medium bump-down-most">
	Reconcile each transactions by ticking the checkbox to the right of the entry. Continue 
	until all transactions are reconciled and the difference is zero. Click "Save" when finished.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/accounts_reconcile2.png">
</div>

<br>
