{{>help_navigation}}

<a name="sales"></a>
<div class="text-center text-bold text-medium bump-down-most">Sales Orders</div>
<div class="text-left text-medium bump-down">
	A Sales Order is a record of a sale that you are going to complete in the future 
	and have not invoiced yet. Because goods have not been delivered or invoiced, 
	Sales Orders do not affect your Income Statement, Balance Sheet or other tax 
	related reports. When you have delivered your goods or services, simply click 
	the Invoice button to convert the Sales Order into an invoice and send it to 
	your customer.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/customers_sales.png">
</div>
<hr>


<a name="invoices"></a>
<div class="text-center text-bold text-medium bump-down-most">Invoices</div>
<div class="text-left text-medium bump-down">
	You send an invoice to your customer once you have delivered good or services 
	and now expect payment. Because good or services have been transferred, your 
	Income Statement, Balance Sheet and other tax related reports are affected. 
	You can create an Invoice directly or convert an existing Sales Order to an Invoice.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/customers_invoices.png">
</div>
<hr>


<a name="payments"></a>
<div class="text-center text-bold text-medium bump-down-most">Payments</div>
<div class="text-left text-medium bump-down">
	Record receipt of a customer payment on the Payments tab. Payments often arrive in batches. BeansBooks makes it easy to record multiple customer payments for one bank deposit. This way, your checking journal will match with your bank account statement.
</div>
<div class="text-left text-medium bump-down-more">
	To record payments received, enter the date in the payment was received. Next, use the search box to find the invoice by customer name, the amount of the invoice, the invoice date or invoice number.  Next click Add to add the invoice to the payment record above. You'll notice the Invoice Total and Payment Amount increase. Continue adding invoices for each payment received in the batch.
</div>
<div class="text-left text-medium bump-down-more">
	Sometimes a customer payment is less than expected. Maybe you have an early payment discount. Maybe credit card or wire transfer fees are deducted from the payment you received. BeansBooks makes it easy to account for small or expected differences.
</div>
<div class="text-left text-medium bump-down-more">
	If you received $120.00 but expected $120.05, and you're okay not asking the customer for $.05, tick the Write-Off Balance checkbox. Next, choose the Write-Off Account where the difference should be tracked. Usually, if you're selling products you will write-off to the Product Sales account. If you are selling services you will write-off to the Service Sales account. This decreases the Sales account by the write-off amount.
</div>
<div class="text-left text-medium bump-down-more">
	If you still want to collect the difference between what your customer paid and what you expected, leave Write-Off unchecked and the balance will remain on the invoice.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/customers_payments.png">
</div>

<br>

