{{>help_navigation}}

<a name="company"></a>
<div class="text-center text-bold text-medium bump-down-most">Company Info and Default Accounts</div>
<div class="text-left text-medium bump-down">
	The logo and company information you enter here is visible on Sales Orders, Invoices,
	Purchase Orders and Reports. An email address is required to send Sales Orders, 
	Purchase Orders and Invoices to your customers and vendors via email. The email 
	address you enter is the "From" address.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/setup_company.png">
</div>
<div class="text-left text-medium bump-down-most">
	Default accounts make your BeansBooks workflow faster. We configured common accounts 
	already. You may want to make modifications to fit your business needs.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/setup_accounts.png">
</div>
<hr>


<a name="taxes"></a>
<div class="text-center text-bold text-medium bump-down-most">Sales Tax Jurisdictions</div>
<div class="text-left text-medium bump-down">
	By creating sales tax jurisdictions you can easliy add tax per line item on Sales Orders 
	and Invoices you create. You can even add multiple taxes per line item.
</div>
<div class="text-left text-medium bump-down-more">
	By scheduling automatic notices for tax payments, an alert will show up on the Dash when 
	it's time to file taxes. You'll even have a link to jump directly to remitting the taxes 
	with the appropriate jurisdiction filled out. 
</div>
<div class="text-left text-medium bump-down-more">
	If you add the tax jurisdiction address here, the check that is printed will include the address.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/setup_taxes.png">
</div>
<hr>


<a name="users"></a>
<div class="text-center text-bold text-medium bump-down-most">Create and Remove Users</div>
<div class="text-left text-medium bump-down">
	As an administrator you can grant access to your BeansBooks account from the Users tab. 
	User Role "Administrators" can create and edit users whereas normal "Users" can only 
	access the account.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/setup_users.png">
</div>
<div class="text-left text-medium bump-down-most">
	As an administrator you can also authorize API access to your BeanBooks account. 
	API access enables the ability to integrate external systems such as an ecommerce 
	platform or credit card merchant to your BeansBooks account.
</div>

<br>
