{{>help_navigation}}

<a name="expenses"></a>
<div class="text-center text-bold text-medium bump-down-most">Expenses</div>
<div class="text-left text-medium bump-down">
	Use Expenses to record purchases that don't require a Purchase Order or tracking 
	over time. These are common expenses to a business such as phone and internet, 
	marketing, rent and other cost.
</div>
<div class="text-left text-medium bump-down-more">
	If you are using a check to pay the expense, you can add the payment to the Check 
	Print Queue by ticking the Print Check? checkbox. The Check Number field will be 
	filled after you print checks.
</div>
<div class="text-left text-medium bump-down-more">
	Expenses affect your financial reports on the recorded date.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/vendors_expenses.png">
</div>
<hr>


<a name="purchases"></a>
<div class="text-center text-bold text-medium bump-down-most">Purchase Orders</div>
<div class="text-left text-medium bump-down">
	Purchase Orders help you to track purchases with a vendor before the order is 
	completed. For example, a candy company would send a Purchase Order to Willy Wonka 
	Candy Company with a request for products at an agreed upon price. Once the order 
	is fulfilled by your vendor, you receive an invoice with a due date. You can either 
	Age the invoice to pay it later or pay the invoice upon receipt.
</div>
<div class="text-left text-medium bump-down-more">
	Because goods or services have not been exchanged yet and no invoice received, Purchase 
	orders do not affect financial reports. BeansBooks uses the 
	<font class="text-bold">Pending AP for Purchase Orders</font> account to track your 
	companies Purchase Order balances and create the Cash Position Report on the Dash. 
	Tracking the balances of outstanding Purchase Orders helps you manage cash flow.
</div>
<div class="text-left text-medium bump-down-more">
	<font class="text-bold">Helpful Tip:</font> Purchase Orders, Age Invoices and Pay Invoices 
	all work together. To use Age Invoices and/or Pay Invoices, you must first create a Purchase Order.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/vendors_purchases.png">
</div>
<hr>


<a name="age"></a>
<div class="text-center text-bold text-medium bump-down-most">Age Invoices</div>
<div class="text-left text-medium bump-down">
	<font class="text-bold">Helpful Tip:</font> Purchase Orders, Age Invoices and Pay 
	Invoices all work together. To use Age Invoices and/or Pay Invoices, you must first 
	create a Purchase Order.
</div>
<div class="text-left text-medium bump-down-more">
	Age Invoices enables you to record receipt of an invoice and pay the invoice later. 
	If your company does not age invoices, simply skip this step and go to Pay Invoices.
</div>
<div class="text-left text-medium bump-down-more">
	Use the search box to find the invoice you want to age. Record the Sales Order (SO) 
	number if desired, the invoice number, invoice date and invoice amount. Invoice date 
	is important. Your Income Statement, Balance Sheet and other tax related reports are 
	affected as of the invoice date.
</div>
<div class="text-left text-medium bump-down-more">
	Sometimes a vendor invoice is less or more than expected. If the Invoice Amount and 
	PO Amount differ, a drop down will slide in requesting the reason for the difference 
	and the Write Off Account you would like to use. Usually, if you're buying products 
	you will write-off to the Product Cost of Goods Sold account. If you are buying services 
	you will write-off to the Services Cost of Good Sold Account account. This decreases 
	or increases the Cost of Goods Sold account by the write-off amount. 
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/vendors_age.png">
</div>
<hr>


<a name="payments"></a>
<div class="text-center text-bold text-medium bump-down-most">Pay Invoices</div>
<div class="text-left text-medium bump-down">
	<font class="text-bold">Helpful Tip:</font> Purchase Orders, Age Invoices and Pay Invoices 
	all work together. To use Age Invoices and/or Pay Invoices, you must first create a Purchase Order.
</div>
<div class="text-left text-medium bump-down-more">
	To pay invoices, first enter the payment date and then type in the name of the vendor 
	you are paying. All outstanding invoices will display below. You can tick the Add checkbox 
	to add invoices but it's much easier to use the search function. Simply type in the PO 
	number and BeansBooks will automatically add the invoice to your payment. Each time you 
	type a PO number it will be automatically added. For quality record keeping you probably 
	want to add the vendor invoice number. The invoice date is important. Your Income Statement, 
	Balance Sheet and other tax related reports are affected as of the invoice date.
</div>
<div class="text-left text-medium bump-down-more">
	If you are using a check to pay the vendor, you can add the payment to the Check Print Queue 
	by ticking the Print Check? checkbox. The Check Number field will be filled after you print checks.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/vendors_payments.png">
</div>
<hr>


<a name="taxes"></a>
<div class="text-center text-bold text-medium bump-down-most">Remit Sales Tax</div>
<div class="text-left text-medium bump-down">
	BeansBooks makes tracking and remitting sales tax easy. Before remitting sales tax you must 
	create your sales tax jurisdiction under <font class="text-bold">Setup > Sales Tax</font>. 
	Next, on customer invoices choose the appropriate sales tax to be applied. BeansBooks tracks 
	the information and alerts you when it's time to remit taxes.
</div>
<div class="text-left text-medium bump-down-more">
	To remit taxes, enter the Payment Date, the Payment Account and choose the Tax Jurisdiction. 
	Next enter the Sales Date Start and Sales Date End. This is the time period that you're filing.
</div>
<div class="text-left text-medium bump-down-more">
	With that information, BeansBooks will provide all the necessary data to fill out your forms 
	and remit sales tax.
</div>
<div class="text-left text-medium bump-down-more">
	If you are using a check to pay the municipality, you can add the payment to the Check Print 
	Queue by ticking the Print Check? checkbox. The Check Number field will be filled after you 
	print checks.
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/vendors_taxes.png">
</div>
<hr>


<a name="checks"></a>
<div class="text-center text-bold text-medium bump-down-most">Check Printing</div>
<div class="text-left text-medium bump-down">
	To print checks, first tick the Print Check? checkbox while creating expenses and paying invoices. The Check Print Queue will automatically fill with the checks you want to print. Type in the first check number in the printer and click Print.
</div>
<div class="text-left text-medium bump-down-more">
	BeansBooks is designed to use checks from Deluxe. <a href="https://www.deluxe.com/shopdeluxe/laser-top-checks-lined/DLT103/product">https://www.deluxe.com/shopdeluxe/laser-top-checks-lined/DLT103/product</a>
</div>
<div class="text-center bump-down-most">
	<img src="/static/images/help/vendors_checks.png">
</div>
<hr>


