<input type="hidden" id="vendors-purchases-create-requested_purchase_id" value="{{requested_purchase_id}}">

<div id="vendors-purchases-create">
	<div class="text-bold text-medium bump-down float-left" id="vendors-purchases-create-title" rel="Enter A Purchase Order">Create a Purchase Order</div>
	<div class="text-medium bump-down float-right" id="vendors-purchases-create-status" rel="Purchase Order Not Saved"><span class="text-bold">Purchase Order Not Saved</span></div>
	<div class="clear"></div>

	<input type="hidden" name="refund_purchase_id" value="">

	<div class="form bump-down-more">

		<div class="row column-10 labels">
			<span class="oppa-gangnam-style">Date</span>
			<span class="ehhh-sexy-lady">
				Vendor
				<span class="text-small">( <a href="#" id="vendors-purchases-dialog-vendor-create-link">new</a> )</span>
			</span>
			<span class="ehhh-sexy-lady">
				Vendor Remit Address
				<span class="text-small">( <a href="#" id="vendors-purchases-dialog-address-create-link">new</a> )</span>
			</span>
			<span class="ehhh-sexy-lady">
				Shipping Address
				<span class="text-small">( <a href="#" id="vendors-purchases-dialog-shipaddress-create-link">new</a> )</span>
			</span>
			<span class="oop">&nbsp;</span>

		</div>

		<div class="row column-10">
			<span class="oppa-gangnam-style"><input type="text" class="datepicker" name="date_created" value="{{dateYYYYMMDD}}"></span>
			<span class="ehhh-sexy-lady"><input type="hidden" name="vendor"></span>
			<span class="ehhh-sexy-lady"><div class="select"><select name="remit_address_id">
				<option value="">&nbsp;</option>
			</select></div></span>
			<span class="ehhh-sexy-lady"><input type="hidden" name="shipping_address_id"></span>
			<!--
			<span class="ehhh-sexy-lady"><div class="select"><select name="shipping_address_id">
				<option value="">&nbsp;</option>
			</select></div></span>
			-->
			<span class="oop">&nbsp;</span>

		</div>

		<div class="row column-10 labels">
			<span class="ehhh-sexy-lady">Terms/Payable Account</span>
			<span class="oop-oop-oop">PO Number</span>

			<span class="oop-oop-oop">Quote Number</span>
			<span class="oop-oop-oop">SO Number</span>

			<span class="oop-oop-oop">Invoice Number</span>
			<span class="oop-oop-oop">Invoice Date</span>

			<!--
			<span class="elevator-dance">&nbsp;</span>
			<span class="oop-oop">&nbsp;</span>
			-->
		</div>

		<div class="row column-10">
			<span class="ehhh-sexy-lady"><select class="account-dropdown" name="account" {{#purchase_payable_account_default}}data-default="{{id}}#{{terms}}" rel="{{id}}#{{terms}}"{{/purchase_payable_account_default}}>
				<option value="">&nbsp;</option>
				{{#purchase_payable_accounts}}
					{{^reserved}}
						<option value="{{id}}#{{terms}}" {{^payable}}disabled="disabled"{{/payable}} {{#selected}}selected="selected"{{/selected}}>{{{name_print}}}</option>
					{{/reserved}}
				{{/purchase_payable_accounts}}
			</select></span>
			<span class="oop-oop-oop"><input type="text" name="purchase_number" placeholder="Auto Generate"></span>

			<span class="oop-oop-oop"><input type="text" name="quote_number" placeholder="Optional"></span>
			<span class="oop-oop-oop"><input type="text" name="so_number" placeholder="Optional"></span>

			<span class="oop-oop-oop"><input type="text" name="invoice_number" placeholder="Optional"></span>
			<span class="oop-oop-oop"><input type="text" name="date_billed" placeholder="Optional"></span>

			<!--
			<span class="elevator-dance">&nbsp;</span>
			<span class="oop-oop">&nbsp;</span>
			-->
		</div>

		<div class="row column-10 labels">
			<span class="subway-dance">Description</span>
			<span class="ehhh-sexy-lady">Expense Account</span>
			<span class="oop-oop">QTY</span>
			<span class="oop-oop">Price</span>
			<span class="oop-oop">Total</span>
		</div>

		<div id="vendors-purchases-create-form-lines">

		</div>

		<div class="row column-6">
			<span class="oppa-gangnam-style wrapper text-small">
				<span class="vendors-purchases-create-form-total-label text-bold">Total:</span>
				<span class="vendors-purchases-create-form-total-value" id="vendors-purchases-create-form-total">{{currency_symbol}}0.00</span>
				<span class="vendors-purchases-create-form-balance-label text-bold">Balance:</span>
				<span class="vendors-purchases-create-form-balance-value" id="vendors-purchases-create-form-balance">{{currency_symbol}}0.00</span>

			</span>

			<span class="oop-oop">&nbsp;</span>

			<span class="oop-oop vendor-purchases-create-new-buttons">&nbsp;</span>
			<span class="oop vendor-purchases-create-new-buttons">
				<a href="#" id="vendors-purchases-create-form-cancel" class="button">Cancel</a>
			</span>
			<span class="oop-oop vendor-purchases-create-new-buttons">
				<a href="#" id="vendors-purchases-create-form-savesend" class="button">Save &amp; Send</a>
			</span>
			<span class="oop vendor-purchases-create-new-buttons">
				<a href="#" id="vendors-purchases-create-form-save" class="button">Save</a>
			</span>

			<span class="oop vendor-purchases-create-edit-buttons" style="display:none;">
				<a href="#" id="vendors-purchases-create-form-editcancel" class="button">Cancel</a>
			</span>
			<span class="oop vendor-purchases-create-edit-buttons" style="display:none;">
				<a href="#" id="vendors-purchases-create-form-delete" class="button">Delete</a>
			</span>
			<span class="oop vendor-purchases-create-edit-buttons" style="display:none;">
				<a href="#" id="vendors-purchases-create-form-return" class="button">Return</a>
			</span>
			<span class="oop vendor-purchases-create-edit-buttons" style="display:none;">
				<a href="#" id="vendors-purchases-create-form-onlysend" class="button">Send</a>
			</span>
			<span class="oop vendor-purchases-create-edit-buttons" style="display:none;">
				<a href="#" id="vendors-purchases-create-form-print" class="button">Print</a>
			</span>
			<span class="oop vendor-purchases-create-edit-buttons" style="display:none;">
				<a href="#" id="vendors-purchases-create-form-edit" class="button">Edit</a>
			</span>

		</div>

	</div>

	<div id="vendors-purchases-create-form-send" class="form bump-down color-force-green hidden" rel="save"><!-- Toggle "save" / "send" -->
		<div class="row single column-6">
			<span class="oop inline-label text-center">
				<div class="checkbox manual"><input type="checkbox" class="send-form" name="send-email" value="1"></div> Email
			</span>
			<span class="oop-oop-oop">
				<input type="text" name="email" class="send-form" value="">
			</span>
			<span class="oop-oop-oop inline-label text-center">
				<div class="checkbox manual"><input type="checkbox" class="send-form" name="send-mail" value="1"></div> Print and Send by Mail
			</span>
			<span class="oop-oop-oop inline-label text-center">
				<div class="checkbox manual"><input type="checkbox" class="send-form" name="send-done" value="1"></div> Already Sent to Vendor
			</span>
			<span class="oop"><a href="#" class="button" id="vendors-purchases-create-form-send-cancel">Cancel</a></span>
			<span class="oop"><a href="#" class="button" id="vendors-purchases-create-form-send-submit">Submit</a></span>
		</div>
	</div>

</div>

<div class="vendors-purchases-actions bump-down">
	<span class="text-bold text-medium float-left bump-down">Purchase Orders</span>
	<input type="text" class="search float-right" id="vendors-purchases-purchases-search" placeholder="Search Name / Amount / Date / Number">
	<div class="clear"></div>
</div>

<div id="vendors-purchases-purchases" class="row-elements row-elements-alternating-colors text-small bump-down">
	<ul>
		<li class="text-bold vendor-purchase">
			<span class="vendor-purchase-vendor text-left">Vendor</span>
			<span class="vendor-purchase-po text-center">PO Number</span>
			<span class="vendor-purchase-so text-center">SO Num</span>
			<span class="vendor-purchase-quote text-center">Quote Num</span>
			<span class="vendor-purchase-status text-center">Status</span>
			<span class="vendor-purchase-total text-center">Total</span>
			<span class="vendor-purchase-actions text-right">&nbsp;</span>
		</li>
		{{#purchases}}
			{{>vendors_purchases_purchase}}
		{{/purchases}}
		{{^purchases}}
			<li class="text-bold vendor-purchase text-center">No purchases found.</li>
		{{/purchases}}
	</ul>
</div>


<div id="vendors-purchases-loadpurchases" class="hidden">
	<br>
	<p class="text-medium text-center">Loading additional purchases: please wait...</p>
	<br>
	<p class="text-center spinme">&nbsp;</p>
	<br>
</div>

<div id="vendors-purchases-endpurchases" class="hidden">
	<br>
	<p class="text-medium text-center">No additional purchases found.</p>
	<br>
</div>

<div id="vendors-purchases-create-form-lines-line-template" class="hidden">
	<div class="vendors-purchases-create-form-lines-line row column-10">
		<span class="subway-dance"><input type="text" class="line-description" name="line-description"></span>
		<span class="ehhh-sexy-lady"><select name="line-account_id" class="account_id">
			<option value="">&nbsp;</option>
			{{#all_accounts_chart_flat}}
				{{^reserved}}
					<option value="{{id}}"
					{{#top_level}}disabled="disabled"{{/top_level}}>{{{name_print}}}</option>
				{{/reserved}}
			{{/all_accounts_chart_flat}}
		</select></span>
		<span class="oop-oop"><input type="text" class="line-quantity" name="line-quantity" val="0"></span>
		<span class="oop-oop"><input type="text" class="line-price" name="line-price" val="0.00"></span>
		<span class="oop-oop"><input type="text" class="line-total" name="line-total" readonly="readonly" value="0.00"></span>
		<input type="hidden" name="purchase-line-key" value="PURCHASELINEKEY">
	</div>
</div>

<div id="vendors-purchases-send-template" class="hidden">
	<li class="vendor-purchase vendor-purchase-send color-force-green">
		<span class="vendor-purchase-send-email">
			<div class="checkbox manual"><input type="checkbox" name="send-email" value="1"></div> Send by Email
			<input type="text" name="email" value="">
		</span>
		<span class="vendor-purchase-send-mail">
			<div class="checkbox manual"><input type="checkbox" name="send-mail" value="1"></div> Print and Send by Mail
		</span>
		<span class="vendor-purchase-send-done">
			<div class="checkbox manual"><input type="checkbox" name="send-done" value="1"></div> Already Sent to Vendor
		</span>
		<span class="vendor-purchase-send-actions">
			<a href="#" class="send-cancel">Cancel</a> |
			<a href="#" class="send-submit">Submit</a>
		</span>
	</li>
</div>

<div class="modal-dialog" id="vendors-purchases-dialog-vendor-create">
	<div class="text-bold text-medium">Create New Vendor</div>
	<div class="form bump-down">
		<div class="row column-4 labels">
			<span class="oppa-gangnam-style">Company Name</span>
		</div>
		<div class="row column-4">
			<span class="oppa-gangnam-style"><input type="text" name="company_name"></span>
		</div>
		<div class="row column-4 labels">
			<span class="oop-oop">First Name</span>
			<span class="oop-oop">Last Name</span>
		</div>
		<div class="row column-4">
			<span class="oop-oop"><input type="text" name="first_name"></span>
			<span class="oop-oop"><input type="text" name="last_name"></span>
		</div>
		<div class="row column-4 labels">
			<span class="oop-oop">Email Address</span>
			<span class="oop-oop">Terms/Payable Account</span>
		</div>
		<div class="row column-4">
			<span class="oop-oop"><input type="text" name="email"></span>
			<span class="oop-oop"><div class="select"><select name="default_account_id" {{#vendor_payable_account_default}}data-default="{{id}}"{{/vendor_payable_account_default}}>
				<option value="">&nbsp;</option>
				{{#vendor_payable_accounts}}
					<option value="{{id}}" {{^payable}}{{^payment}}disabled="disabled"{{/payment}}{{/payable}} {{#selected}}selected="selected"{{/selected}}>{{{name_print}}}</option>
				{{/vendor_payable_accounts}}
			</select></div></span>
		</div>
		<div class="row column-4 labels">
			<span class="oop-oop">Phone Number</span>
			<span class="oop-oop">Fax Number</span>
		</div>
		<div class="row column-4">
			<span class="oop-oop"><input type="text" name="phone_number"></span>
			<span class="oop-oop"><input type="text" name="fax_number"></span>
		</div>
	</div>
</div>

<div class="modal-dialog" id="vendors-purchases-dialog-address-create">
	<input type="hidden" name="vendor_id" value="">
	<div class="text-bold text-medium">Create New Address</div>
	<div class="form bump-down">
		<div class="row column-4 labels">
			<span class="oppa-gangnam-style">Address Line 1</span>
		</div>
		<div class="row column-4">
			<span class="oppa-gangnam-style"><input type="text" name="address1"></span>
		</div>
		<div class="row column-4 labels">
			<span class="oppa-gangnam-style">Address Line 2</span>
		</div>
		<div class="row column-4">
			<span class="oppa-gangnam-style"><input type="text" name="address2"></span>
		</div>
		<div class="row column-4 labels">
			<span class="oop-oop">City</span>
			<span class="oop-oop">State</span>
		</div>
		<div class="row column-4">
			<span class="oop-oop"><input type="text" name="city"></span>
			<span class="oop-oop"><input type="text" name="state"></span>
		</div>
		<div class="row column-4 labels">
			<span class="oop-oop">Zip</span>
			<span class="oop-oop">Country</span>
		</div>
		<div class="row column-4">
			<span class="oop-oop"><input type="text" name="zip"></span>
			<span class="oop-oop"><div class="select"><select tabindex="13" name="country" tabindex="15" {{#default_country}}data-default="{{code}}"{{/default_country}}>
				<option value="">&nbsp;</option>
				{{#countries}}
					<option value="{{code}}" {{#default}}selected="selected"{{/default}}>{{name}}</option>
				{{/countries}}
			</select></div></span>
		</div>
	</div>
</div>


<div class="modal-dialog" id="vendors-purchases-dialog-shipaddress-create">
	<input type="hidden" name="vendor_id" value="">
	<div class="text-bold text-medium">Create New Purchase Shipping Address</div>
	<div class="form bump-down">
		<div class="row column-4 labels">
			<span class="oop-oop">First Name</span>
			<span class="oop-oop">Last Name</span>
		</div>
		<div class="row column-4">
			<span class="oop-oop"><input type="text" name="first_name"></span>
			<span class="oop-oop"><input type="text" name="last_name"></span>
		</div>
		<div class="row column-4 labels">
			<span class="oppa-gangnam-style">Company</span>
		</div>
		<div class="row column-4">
			<span class="oppa-gangnam-style"><input type="text" name="company_name"></span>
		</div>
		<div class="row column-4 labels">
			<span class="oppa-gangnam-style">Address Line 1</span>
		</div>
		<div class="row column-4">
			<span class="oppa-gangnam-style"><input type="text" name="address1"></span>
		</div>
		<div class="row column-4 labels">
			<span class="oppa-gangnam-style">Address Line 2</span>
		</div>
		<div class="row column-4">
			<span class="oppa-gangnam-style"><input type="text" name="address2"></span>
		</div>
		<div class="row column-4 labels">
			<span class="oop-oop">City</span>
			<span class="oop-oop">State</span>
		</div>
		<div class="row column-4">
			<span class="oop-oop"><input type="text" name="city"></span>
			<span class="oop-oop"><input type="text" name="state"></span>
		</div>
		<div class="row column-4 labels">
			<span class="oop-oop">Zip</span>
			<span class="oop-oop">Country</span>
		</div>
		<div class="row column-4">
			<span class="oop-oop"><input type="text" name="zip"></span>
			<span class="oop-oop"><div class="select"><select tabindex="13" name="country" tabindex="15" {{#default_country}}data-default="{{code}}"{{/default_country}}>
				<option value="">&nbsp;</option>
				{{#countries}}
					<option value="{{code}}" {{#default}}selected="selected"{{/default}}>{{name}}</option>
				{{/countries}}
			</select></div></span>
		</div>
	</div>
</div>
