<div class="login-form form text-center">
	<form action="" method="POST">
		<div class="text-large">BeansBooks Login</div>
		<input type="text" name="email" placeholder="Email Address">
		<div class="clear"></div>
		<input type="password" name="password" placeholder="Password">
		<div class="clear"></div>
		<a href="#" class="button auth-login-submit" onclick="showPleaseWait(); $(this).closest('form').submit();">Login</a>
	</form>
</div>

<div class="text-center">
	<a href="/auth/reset/">Forgot your password?</a>
</div>