<li class="setup-tax" rel="{{id}}">
	<span class="setup-tax-name text-left">{{name}}</span>
	<span class="setup-tax-rate text-center">{{percent}}</span>
	<span class="setup-tax-balance text-right">{{balance}}</span>
	<span class="setup-tax-nextduedate text-center">{{nextduedate}}</span>
	<span class="setup-tax-actions text-right">
		<a href="#" rel="{{id}}" class="view">View</a>
	</span>
</li>