<li class="customer-customer" rel="{{id}}">
	<span class="customer-customer-name text-left">{{first_name}} {{last_name}}</span>
	<span class="customer-company text-left">{{company_name}}</span>
	<span class="customer-customer-phone text-center">{{phone_number}}{{^phone_number}}Not Available{{/phone_number}}</span>
	<span class="customer-customer-email text-center">{{email}}{{^email}}None Provided{{/email}}</span>
	<span class="customer-customer-balance_current text-right">{{balance_current_formatted}}</span>
	<span class="customer-customer-balance_pastdue text-right">{{balance_pastdue_formatted}}</span>
	<span class="customer-customer-actions text-right">
		<a href="/customers/customer/{{id}}">View</a>
	</span>
</li>