<div class="install-process-step">
	Installation Progress: Step 1 of 5
</div>
<div class="clear"></div>

<h3 class="text-center">Verifying Prerequisites</h3>
<div class="clear"></div>

<div class="explanation text-medium bump-down-most">
	Before we can be sure that BeansBooks will run correctly on your server, we need to check for a few things...
</div>

<form action="" method="POST">
	<input type="hidden" name="install-step" value="1">

	<div class="explanation form text-medium bump-down-most">
		Before proceeding you should make sure you have the following requirements met:<br>
		<ul>
			<li>PHP 5.3+</li>
			<li>MySQL 5+</li>
			<li>PHP MCrypt Extension</li>
			<li>PHP MySQL Extension</li>
			<li>PHP GD Extension</li>
			<li>HTTP w/ SSL - Not required, but strongly suggested.</li>
		</ul>
	</div>

	<div class="explanation text-center bump-down-most">
		<a href="#" class="button process-step">Check for Requirements</a>
	</div>
</form>
