<div class="install-process-step">
	Installation Progress: Step 5 of 5
</div>
<div class="clear"></div>

<h3 class="text-center">Finalize Installation</h3>
<div class="clear"></div>

<div class="explanation text-medium bump-down-most text-center">
	We have everything necessary to finalize your installation. <br>Once the process completes, 
	you can login to your new instance of BeansBooks!
</div>

<div class="explanation text-small bump-down-most text-center">
	<span class="text-bold">Please Note:</span> This process can take a few minutes - don't panic if it seems to be a bit slow.
</div>

<form action="" method="POST">
	<input type="hidden" name="install-step" value="5">

	<div class="explanation text-center bump-down-most">
		<a href="#" class="button process-step">Finalize Installation</a>
	</div>

</form>
