<div class="install-process-step">
	Installation Progress: Getting Started
</div>
<div class="clear"></div>

<h3 class="text-center">Thanks for choosing BeansBooks!</h3>
<div class="clear"></div>

<div class="explanation text-medium bump-down-most">
	
</div>

<div class="explanation text-medium bump-down-most">
	<div class="text-center text-bold">Important!</div>
	<div class="text-center">Have the following information available before starting the installation.</div>
	<br>
	<ul>
		<li>Empty MySQL database user credentials</li>
		<li>SMTP ( email ) connection information</li>
		<li>File Access to the directory that BeansBooks is located</li>
	</ul><br>
</div>

<div class="explanation text-medium bump-down-most">
	<div class="text-large text-center">Ready to go?</div><br>
	<div class="text-center"><a class="button" href="/install/check">Start Installation</a></div>
</div>

