<div class="install-process-step">
	Installation Progress: Step 5 of 5
</div>
<div class="clear"></div>

<h3 class="text-center">Initializing ...</h3>
<div class="clear"></div>

<!-- This page should not be loaded... -->