<div class="setup-users-api-row dark" rel="{{auth_uid}}">
	<span class="setup-users-api-row-field"><input type="text" readonly="readonly" value="{{auth_uid}}"></span>
	<span class="setup-users-api-row-field"><input type="text" readonly="readonly" value="{{auth_expiration}}"></span>
	<span class="setup-users-api-row-field wide"><input type="text" readonly="readonly" value="{{auth_key}}{{^auth_key}}&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;{{/auth_key}}"></span>
	<span class="setup-users-api-row-actions">
		<a href="#" class="button short generate-new">Generate New Key</a>
	</span>
</div>