<div class="setup-users-users-user {{#active}}active-user{{/active}}" rel="{{id}}">
	<span class="setup-users-users-user-name" rel="{{name}}">{{name}}</span>
	<span class="setup-users-users-user-email" rel="{{email}}">{{email}}</span>
	<span class="setup-users-users-user-role" rel="{{role_id}}">{{role}}</span>
	<span class="setup-users-users-user-actions">
		<a href="#" class="button short edit">Edit</a>
		{{^primary}}<a href="#" class="button short delete">Remove</a>{{/primary}}
	</span>
	<div class="clear"></div>
</div>