<li class="vendor-check selected">
	<span class="vendor-check-date text-left">{{date}}</span>
	<span class="vendor-check-vendor text-left">{{vendor}}</span>
	<span class="vendor-check-amount text-right">{{amount_formatted}}</span>
	<span class="vendor-check-number text-center">&nbsp;</span>
	<span class="vendor-check-actions text-right"><div class="checkbox manual add checked"><input type="checkbox" value="print-check" name="{{type}}-{{id}}" checked="checked"></div> Add</span>
</li>