<input type="hidden" id="report-receivables-customer-defaultname" value="{{report_customer_name}}">

<form action="" method="POST">
	<div class="form report-form">
		<div class="row column-10">
			<span class="oop-oop-oop inline-label text-right">Receivables as of: </span>
			<span class="oop-oop"><input type="text" class="report-balance-date" name="date" value="{{report_date}}"></span>
			<span class="oop text-right inline-label text-bold">or</span>
			<span class="oop-oop inline-label text-right">Customer</span>
			<span class="oppa-gangnam-style">
				<input type="hidden" id="report-receivables-customer" name="customer_id" value="{{report_customer_id}}">
			</span>
			<span class="oop-oop-oop inline-label text-right">Min. days past due:</span>
			<span class="oop-oop"><div class="select"><select class="report-receivables-select" name="days_late_minimum">
				<option value="">&nbsp;</option>
				{{#days_late_minimum_options}}
					<option value="{{days}}" {{#selected}}selected="selected"{{/selected}}>{{days}}</option>
				{{/days_late_minimum_options}}
			</select></div></span>
			<span class="oop-oop-oop"><a href="#" class="button report-print">Print Report</a></span>
		</div>
		<div class="clear"></div>
	</div>
</form>

<div class="clear"></div>

<div id="report-content">
	{{>dash_print_receivables}}
</div>