<input type="hidden" id="report-taxes-tax-defaultname" value="{{report_tax_name}}">

<form action="" method="POST">
	<div class="form report-form">
		<div class="row column-10">
			<span class="oop inline-label text-right">Tax</span>
			<span class="ehhh-sexy-lady">
				<input type="hidden" id="report-taxes-tax" name="tax_id" value="{{report_tax_id}}">
			</span>

			<span class="oop-oop-oop inline-label text-right">Select Payment</span>
			<span class="yellow-suit-dance-off">
				<div class="select">
					<select id="report-taxes-payments" name="tax_payment_id">
						<option value="">Select a Period</option>
						{{#tax_payment_options}}
							<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
						{{/tax_payment_options}}
					</select>
				</div>
			</span>
			<span class="oop">&nbsp;</span>
			<span class="oop-oop-oop"><a href="#" class="button report-print">Print Report</a></span>
		</div>
		<div class="clear"></div>
	</div>
</form>

<div class="clear"></div>

{{^report_run}}
	<div class="text-center text-medium">Select a tax and period above.</div>
{{/report_run}}
{{#report_run}}
	<div id="report-content">
		{{>vendors_print_taxpayment}}
	</div>
{{/report_run}}