<input type="hidden" id="report-vendor-vendor-defaultname" value="{{report_vendor_name}}">

<form action="" method="POST">
	<div class="form report-form">
		<div class="row column-10">
			<span class="oop-oop inline-label text-right">Start Date</span>
			<span class="oop-oop-oop"><input type="text" class="report-vendor-date" name="date_start" value="{{report_date_start}}"></span>
			<span class="oop-oop inline-label text-right">End Date</span>
			<span class="oop-oop-oop"><input type="text" class="report-vendor-date" name="date_end" value="{{report_date_end}}"></span>
			<span class="oop-oop inline-label text-right">Vendor</span>
			<span class="ehhh-sexy-lady">
				<input type="hidden" id="report-vendor-vendor" name="vendor_id" value="{{report_vendor_id}}">
			</span>
			<span class="oop-oop-oop"><a href="#" class="button report-print">Print Report</a></span>
		</div>
		<div class="clear"></div>
	</div>
</form>

<div class="clear"></div>

<div id="report-content">
	{{>dash_print_vendor}}
</div>