<a class="smoothscroll" name="top"></a>
<div class="form pad-down-more pad-up-more">
	<div class="row column-6 labels">
		<span class="oop">&nbsp;</span>
		<span class="oppa-gangnam-style">Dash</span>
		<span class="oppa-gangnam-style">Customers</span>
		<span class="oop-oop-oop">Vendors</span>
	</div>
	<div class="row column-6 labels">
		<span class="oop">&nbsp;</span>
		<span class="oppa-gangnam-style pad-right-most"><a class="smoothscroll" href="/help/dash#overview">Overview</a></span>
		<span class="oppa-gangnam-style pad-right-most"><a class="smoothscroll" href="/help/customers#sales">Sales Orders</a></span>
		<span class="oop-oop-oop pad-right-most"><a class="smoothscroll" href="/help/vendors#expenses">Expenses</a></span>
	</div>
	<div class="row column-6 labels">
		<span class="oop">&nbsp;</span>
		<span class="oppa-gangnam-style pad-right-most"><a class="smoothscroll" href="/help/dash#cash">Cash Position Report</a></span>
		<span class="oppa-gangnam-style pad-right-most"><a class="smoothscroll" href="/help/customers#invoices">Invoices</a></span>
		<span class="oop-oop-oop pad-right-most"><a class="smoothscroll" href="/help/vendors#purchases">Purchase Orders</a></span>
	</div>
	<div class="row column-6 labels">
		<span class="oop">&nbsp;</span>
		<span class="oppa-gangnam-style pad-right-most"><a class="smoothscroll" href="/help/dash#alerts">Alerts</a></span>
		<span class="oppa-gangnam-style pad-right-most"><a class="smoothscroll" href="/help/customers#payments">Payments</a></span>
		<span class="oop-oop-oop pad-right-most"><a class="smoothscroll" href="/help/vendors#age">Age Invoices</a></span>
	</div>
	<div class="row column-6 labels">
		<span class="oop">&nbsp;</span>
		<span class="oppa-gangnam-style pad-right-most"><a class="smoothscroll" href="/help/dash#reports">Reports</a></span>
		<span class="oppa-gangnam-style pad-right-most">&nbsp;</span>
		<span class="oop-oop-oop pad-right-most"><a class="smoothscroll" href="/help/vendors#payments">Pay Invoices</a></span>
	</div>
	<div class="row column-6 labels">
		<span class="oop">&nbsp;</span>
		<span class="oppa-gangnam-style pad-right-most"><a class="smoothscroll" href="/help/dash#pastdue">Past Due Invoices Payments</a></span>
		<span class="oppa-gangnam-style pad-right-most">&nbsp;</span>
		<span class="oop-oop-oop pad-right-most"><a class="smoothscroll" href="/help/vendors#taxes">Remit Sales Tax</a></span>
	</div>
	<div class="row column-6 labels">
		<span class="oop">&nbsp;</span>
		<span class="oppa-gangnam-style pad-right-most"><a class="smoothscroll" href="/help/dash#pending">Pending Orders</a></span>
		<span class="oppa-gangnam-style pad-right-most">&nbsp;</span>
		<span class="oop-oop-oop pad-right-most"><a class="smoothscroll" href="/help/vendors#checks">Check Printing</a></span>
	</div>

	<div class="row column-6 labels"></div>

	<div class="row column-10 labels">
		<span class="oop-oop-oop">&nbsp;</span>
		<span class="yellow-suit-dance-off">Accounts</span>
		<span class="elevator-dance">Setup</span>
	</div>
	<div class="row column-10 labels">
		<span class="oop-oop-oop">&nbsp;</span>
		<span class="yellow-suit-dance-off pad-right-most"><a class="smoothscroll" href="/help/accounts#overview">Overview</a></span>
		<span class="elevator-dance pad-right-most"><a class="smoothscroll" href="/help/setup#company">Company Info, Default and Write-Off Accounts</a></span>
	</div>
	<div class="row column-10 labels">
		<span class="oop-oop-oop">&nbsp;</span>
		<span class="yellow-suit-dance-off pad-right-most"><a class="smoothscroll" href="/help/accounts#system">BeansBooks System Accounts</a></span>
		<span class="elevator-dance pad-right-most"><a class="smoothscroll" href="/help/setup#taxes">Sales Tax Jurisdictions</a></span>
	</div>
	<div class="row column-10 labels">
		<span class="oop-oop-oop">&nbsp;</span>
		<span class="yellow-suit-dance-off pad-right-most"><a class="smoothscroll" href="/help/accounts#manage">Create, Edit and Delete Accounts</a></span>
		<span class="elevator-dance pad-right-most"><a class="smoothscroll" href="/help/setup#users">Create and Remove Users</a></span>
	</div>
	<div class="row column-10 labels">
		<span class="oop-oop-oop">&nbsp;</span>
		<span class="yellow-suit-dance-off pad-right-most"><a class="smoothscroll" href="/help/accounts#transactions">Add and Edit Transactions</a></span>
		<span class="elevator-dance pad-right-most">&nbsp;</span>
	</div>
	<div class="row column-10 labels">
		<span class="oop-oop-oop">&nbsp;</span>
		<span class="yellow-suit-dance-off pad-right-most"><a class="smoothscroll" href="/help/accounts#import">Import Transactions</a></span>
		<span class="elevator-dance pad-right-most">&nbsp;</span>
	</div>
	<div class="row column-10 labels">
		<span class="oop-oop-oop">&nbsp;</span>
		<span class="yellow-suit-dance-off pad-right-most"><a class="smoothscroll" href="/help/accounts#reconcile">Reconcile Accounts</a></span>
		<span class="elevator-dance pad-right-most">&nbsp;</span>
	</div>
	
</div>


<div id="scroll-top-footer"><a href="#">Back to Top</a></div>